body{
    font-family: 'Arial', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}
.container {
    width: 300px;
}
input, button {
width:100%;
padding: 10px;
margin-bottom: 10px;
box-sizing: border-box;
}
button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #005683;
}